- unless @complaint.errors.empty?
  = div_for(@complaint, :class => "alert-message block-message error") do
    %p
      %strong
        הטופס שהוזן אינו תקין:
    %ul
      - @complaint.errors.full_messages.each do |e|
        %li= e
= form_for(@complaint, :html => { :multipart => true }) do |f|
  .field
    = label_tag(:complaint_statement_full_name) do
      שם מלא
      %sup
        חובה
    = f.text_field(:statement_full_name)
  .field
    = label_tag(:complaint_statement_email) do
      כתובת מייל
      %sup
        חובה
    = f.text_field(:statement_email)
  .field
    = label_tag(:complaint_statement_id) do
      ת.ז.
      %sup
        חובה
    = f.text_field(:statement_id, :length => 10)
  .field
    = label_tag(:complaint_statement_phone) do
      טלפון
      %sup
        חובה
    = f.text_field(:statement_phone)
  .field
    = label_tag(:complaint_statement_address) do
      כתובת
      %sup.recommended
        מומלץ
    = f.text_field(:statement_address)
  %fieldset
    %legend
      פרטי מקרה
    .field
      = f.label(:event_date, "תאריך האירוע")
      .date-select
        = f.date_select(:event_date, :start_year => 2007, :end_year => Time.now.year, :use_month_numbers => true, :order => [:day, :month, :year])
    .field
      = f.label(:business_type_id, "סוג עסק")
      = f.collection_select(:business_type_id, BusinessType.all, :id, :name)
      .details{ "data-toggleon" => "complaint_business_type_id", "data-togglevalue" => 7}
        = f.label(:business_type_other, "פירוט:")
        = f.text_field(:business_type_other)
    .field
      = label_tag(:complaint_business_name) do
        שם העסק
        %sup
          חובה
      = f.text_field(:business_name)
    .field
      = label_tag(:complaint_business_address) do
        כתובת העסק
        %sup
          חובה
      = f.text_field(:business_address)
    :markdown
      ניתן למצוא מספרי ח.פ. ו-ע.מ. באמצעות [חיפוש ברשם החברות](http://www.justice.gov.il/MOJHeb/RasutHataagidim/RashamHachvarot/PeulotNefotzot/MeidaBsisi.htm)
    .field
      = label_tag(:complaint_private_company_number) do
        מספר <abbr title="חברה פרטית">ח.פ.</abbr>
        %sup.recommended
          מומלץ
        %sup.info
          ?
          .popover.left
            .arrow
            .popover-inner
              .popover-content
                %p
                  ניתן למצוא את מספר הע.מ. ומספר הח.פ. בראש טופס הקבלה
                = image_tag('receipt.png', :alt => 'קבלה')
      = f.text_field(:private_company_number)
    .field
      = label_tag(:complaint_business_number) do
        מספר <abbr title="עוסק מורשה">ע.מ.</abbr>
        %sup.recommended
          מומלץ
        %sup.info
          ?
          .popover.left
            .arrow
            .popover-inner
              .popover-content
                %p
                  ניתן למצוא את מספר הע.מ. ומספר הח.פ. בראש טופס הקבלה
                = image_tag('receipt.png', :alt => 'קבלה')
      = f.text_field(:business_number)
    .field
      = label_tag(:complaint_city_id) do
        עיר\מועצה מקומית
        %sup
          חובה
      -# f.collection_select(:city_id, City.all, :id, :name, :prompt => "בחר עיר")
      = f.collection_select(:city_id, [ City.find(227) ], :id, :name)
  %fieldset
    %legend
      בעל העסק לא אוכף את איסור העישון
    %ul.check-list
      %li
        = f.check_box(:smoking_person)
        = f.label(:smoking_person, "אדם שעישן במקום אסור, לא התבקש להפסיק ע\"י אחד העובדים.")
      %li
        = f.check_box(:smoking_ashtrays)
        = f.label(:smoking_ashtrays, "מוצבות מאפרות שלא בחדר עישון…")
        .details{ "data-toggleon" => "complaint_smoking_ashtrays" }
          = f.label(:smoking_ashtrays_details, "פירוט היכן:")
          = f.text_field(:smoking_ashtrays_details)
  %fieldset
    %legend
      חדר העישון אינו חוקי
    %ul.check-list
      %li
        = f.check_box(:smoking_room_not_seperate)
        = f.label(:smoking_room_not_seperate, "אינו נמצא בחדר נפרד לחלוטין.")
      %li
        = f.check_box(:smoking_room_too_large)
        = f.label(:smoking_room_too_large, "החדר גדול מרבע מהשטח הפתוח לציבור המסעדה.")
      %li
        %ul.inline-check-list
          %li
            נדרש לעבור דרכו על מנת:
          %li
            = f.check_box(:smoking_room_must_pass_through_to_public_area)
            = f.label(:smoking_room_must_pass_through_to_public_area, "להיכנס למקום הציבורי")
          %li
            = f.check_box(:smoking_room_must_pass_through_to_bathroom)
            = f.label(:smoking_room_must_pass_through_to_bathroom, "להגיע לשירותים")
          %li
            = check_box_tag(:smoking_room_must_pass_through_to_other_check)
            = label_tag(:smoking_room_must_pass_through_to_other_check, "להגיע למקום אחר…")
        .details{ "data-toggleon" => "smoking_room_must_pass_through_to_other_check" }
          = f.label(:smoking_room_must_pass_through_to_other, "פירוט:")
          = f.text_field(:smoking_room_must_pass_through_to_other)
      %li
        = f.check_box(:smoking_room_not_closed)
        = f.label(:smoking_room_not_closed, "הפתח המוביל אליו לא נשמר סגור (למעט בזמן כניסה ויציאה).")
      %li
        = check_box_tag(:smoking_room_smoking_outside_details_check)
        = label_tag(:smoking_room_smoking_outside_details_check, "מורגש ריח עישון או נראה עשן סיגריות באיזור אחר…")
        .details{ "data-toggleon" => "smoking_room_smoking_outside_details_check" }
          = f.label(:smoking_room_smoking_outside_details, "פירוט היכן:")
          = f.text_field(:smoking_room_smoking_outside_details)
  %fieldset
    %legend
      אין שילוט בדבר איסור עישון, כנדרש בחוק (במידה ומדובר במקום בילוי)
    %ul.check-list
      %li
        = f.check_box(:smoking_no_signs)
        = f.label(:smoking_no_signs, "אין שילוט כנדרש בחוק - לפחות שלט \"העישון אסור\" אחד על כל 10 מטר קיר.")
      %li
        = f.check_box(:smoking_signs_too_small)
        = f.label(:smoking_signs_too_small, "השלטים קטנים מ-20×30 ס\"מ.")
      %li
        = f.check_box(:smoking_signs_not_at_height)
        = f.label(:smoking_signs_not_at_height, "השלטים לא מוצבים בגובה של כ-2 מטר.")
      %li
        = check_box_tag(:smoking_signs_hidden_details_check)
        = label_tag(:smoking_signs_hidden_details_check, "השלטים מוסתרים או מוצנעים…")
        .details{ "data-toggleon" => "smoking_signs_hidden_details_check" }
          = f.label(:smoking_signs_hidden_details, "פירוט:")
          = f.text_field(:smoking_signs_hidden_details)
    :markdown
      ‫במידה ומדובר במקום ציבורי אחר – קניון, חנות, מקום עבודה, אולם אירועים, קולנוע, תיאטרון וכו' – נא לפרט בסעיף ההערות האם‬ ‫קיים שילוט ([תקנות הגבלת העישון במקומות ציבוריים](http://avir-naki.com/SignsRegulations.aspx))
  %fieldset
    %legend
      פרטים נוספים
    .field
      = label_tag(:complaint_smoking_comment) do
        הערות
        %sup
          חובה
      = f.text_area(:smoking_comment, :size => '80x5')
    .field.image-upload
      = label_tag(:complaint_images) do
        תמונה
        %sup.recommended
          ניתן לצרף מספר תמונות
      = f.file_field(:complaint_images, :accept => 'image/*', :multiple => true)
  %fieldset{ :class => "statement" }
    %legend
      הצהרה
    %p
      ‫אנו ממליצים בנוסף לחתום על ההצהרה מטה. במקרים בהם תמולא ההצהרה יאפשר הדבר לעירייה לנקוט הליך‬
      ‫משפטי כנגד מפרי החוק. במקרה זה יתכן ותידרש עדות מטעם המתלונן. מילוי ההצהרה יסייע לאכוף את החוק‬
      ‫ביעילות רבה יותר.‬
    %ul.check-list
      %li
        = f.check_box(:statement_agreement, :checked => true)
        = label_tag(:complaint_statement_agreement) do
          ‫הנני מצהיר/ה כי אהיה מוכן/ה להעיד על נכונות הדברים המדווחים בטופס זה בבית משפט, במידה ואקרא לדיון.‬
          %sup.recommended
            מומלץ
  = f.submit("שלח", :class => "btn btn-primary")

- content_for(:scripts) do
  :javascript
    $(function() {
    
      $('a[href^="http://"]').on('click', function() {
        window.open(this.href);
        return false;
      });
    
      function supportsMultiple() {
        var f = document.createElement('input'); f.type = 'file';
        
        return (!!(f.multiple === false) && !!(f.multiple !== 'undefined'));
      };
    
      var upload = $('.image-upload'),
          addFileUpload = function() {
            var attrReplace = function(index, attr) { return attr + i; },
                clone = upload.clone();
            
            clone
              .find('label').attr('for', attrReplace).end()
              .find('input:file').attr('id', attrReplace);
            
            $(this).before( clone );
            
            i++;
            
            return false;
          },
          addFileButton,
          count = 4,
          i; // Index counter for the upload fields.
      
      if ( ! supportsMultiple() ) {
        upload.find('sup').remove();
        
        while(i <= count) {
          addFileUpload.call(upload);
        }
        
        addFileButton = $('<button id="add-image-upload" class="btn btn-primary">הוספת קובץ נוסף</button>').on('click', addFileUpload);
        
        upload.after(addFileButton);
      }
    });
