#letter
  %span.date= @complaint.created_at.strftime("%d/%m/%Y")
  %p
    %span
      לכבוד
      %br/
      עיריית/מועצה מקומית #{@complaint.city.name}
      %br/
      משרד הבריאות
  %h2
    הנדון:
    %em
      תלונה בדבר הפרת חוק מניעת העישון במקומות ציבוריים והחשיפה לעישון התשמ"ג-1983
  %p
    :markdown
      ברצוני להביא לידיעתכם כי בתאריך *#{@complaint.event_date.strftime("%d/%m/%Y")}* ב#{@complaint.business_type_id == 7 ? @complaint.business_type_other : @complaint.business_type.name} בשם *#{@complaint.business_name}*
      והנמצא בכתובת *#{business_details(@complaint)}* אשר בשטח שיפוטכם, נצפו הפרות לכאורה של החוק המפורטות להלן:
  - if @complaint.smoking_person || @complaint.smoking_ashtrays
    %h3
      בעל העסק לא אוכף את איסור העישון:
    %ol
      - if @complaint.smoking_person
        %li
          אדם שעישן במקום אסור, לא התבקש להפסיק ע"י אחד העובדים.
      - if @complaint.smoking_ashtrays
        %li
          מוצבות מאפרות שלא בחדר עישון.
          - unless @complaint.smoking_ashtrays_details.blank?
            :plain
              פירוט: #{@complaint.smoking_ashtrays_details}.
  - if @complaint.smoking_room_not_seperate || @complaint.smoking_room_too_large || ! @must_pass.blank? || @complaint.smoking_room_not_closed || ! @complaint.smoking_room_smoking_outside_details.blank?
    %h3
      חדר העישון אינו חוקי מהסיבות הבאות:
    %ol
      - if @complaint.smoking_room_not_seperate
        %li
          אינו נמצא בחדר נפרד לחלוטין.
      - if @complaint.smoking_room_too_large
        %li
          החדר גדול מרבע השטח הפתוח לציבור במסעדה.
      - must_pass = must_pass_through(@complaint)
      - unless must_pass.blank?
        %li
          נדרש לעבור דרכו על מנת #{must_pass}.
      - if @complaint.smoking_room_not_closed
        %li
          הפתח המוביל אליו לא נשמר סגור (למעט בזמן כניסה ויציאה).
      - unless @complaint.smoking_room_smoking_outside_details.blank?
        %li
          :plain
            מורגש ריח עישון או נראה עשן סיגריות באיזור אחר. פירוט: #{@complaint.smoking_room_smoking_outside_details}.
  - if @complaint.smoking_no_signs || @complaint.smoking_signs_too_small || @complaint.smoking_signs_not_at_height || ! @complaint.smoking_signs_hidden_details.blank?
    %h3
      אין שילוט בדבר איסור עישון, כנדרש בחוק:
    %ol
      - if @complaint.smoking_no_signs
        %li
          אין שילוט כנדרש בחוק - לפחות שלט "העישון אסור" אחד על כל 10 מטר קיר.
      - if @complaint.smoking_signs_too_small
        %li
          השלטים קטנים מ-20×30 ס"מ.
      - if @complaint.smoking_signs_not_at_height
        %li
          השלטים לא מוצבים בגובה של כ-2 מטר.
      - unless @complaint.smoking_signs_hidden_details.blank?
        %li
          :plain
            השלטים מוסתרים או מוצנעים. פירוט: #{@complaint.smoking_signs_hidden_details}
    - if @complaint.smoking_comment.present? || @complaint.complaint_images.any?
      %h3
        פרטים נוספים
      = simple_format( @complaint.smoking_comment )
      - unless @complaint.complaint_images.empty?
        %h4
          תמונות מצורפות
        .images
          - @complaint.complaint_images.each do |ci|
            = link_to( image_tag( ci.image.url(:thumbnail) ), ci.image.url(:normal) )
  #statement
    %h3
      הצהרה ופרטים אישיים
    %dl
      %dd= @complaint.statement_full_name
      %dd.email= @complaint.statement_email
      %dd.id= @complaint.statement_id
      %dd= @complaint.statement_address
      %dd= @complaint.statement_phone
      %dd.last= @complaint.created_at.strftime("%d/%m/%Y")
      %dt.first
        שם מלא
      %dt.email
        כתובת מייל
      %dt.id
        ת.ז.
      %dt
        כתובת
      %dt
        טלפון
      %dt
        תאריך
    - if @complaint.statement_agreement
      %p
        %strong
          הנני מצהיר/ה כי אהיה מוכן/ה להעיד על נכונות הדברים המדווחים בטופס זה בבית משפט, במידה ואקרא לדיון.
