%h2
  רשימת נמענים
= form_for(:complaint_recipient, :remote => true, 'data-type' => :json) do |f|
  %fieldset
    .field
      = f.label(:city_id, 'בחירת עיר\\ראשות מקומית')
      -# f.collection_select(:city_id, City.all, :id, :name, :prompt => "בחר עיר")
      = f.collection_select(:city_id, City.find(227).to_a, :id, :name)
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th.span1
          = check_box_tag(:select_all)
        %th.span4
          תיאור
        %th.span4
          כתובת מייל
        %th
          סוג
    %tbody
      - @recipients.each do |recipient|
        %tr
          %td.span1= check_box_tag("recipients[]", recipient.id, false, {:id => "recipients_#{recipient.id}"})
          %td.span4= recipient.description
          %td.span4= recipient.email
          %td= ComplaintRecipient::RecipientTypes::Types[recipient.recipient_type]
    %tfoot
      %tr
        %td= f.submit('הוספה', :class => 'btn btn-primary')
        %td= f.text_field(:description)
        %td= f.text_field(:email)
        %td= f.collection_select(:recipient_type, ComplaintRecipient::RecipientTypes::Types, :first, :last)
      %tr
        %th{ :colspan => 4 }
          = f.submit('מחיקה', :confirm => 'האם אתה בטוח שברצונך למחוק את הנמענים המסומנים?', :class => 'btn', :id => 'delete-recipients')
- content_for(:scripts) do
  :javascript
    $(function() {
      var table = $('table');
      
      $('#select_all').on('change', function() {
        table.find('input:checkbox').prop('checked', this.checked);
      });
      
      $('#city_id').on('change', function() {
        // Update table.
      });
      
      table.find('#delete-recipients').on('click', function() {
      	var self = $(this),
      	    ids = table.find('input:checkbox:checked:not(#select_all)');
        $.post(this.href, { 
        	  '_method': 'delete',
        	  id: ids.map(function() { return this.value; }).get()
        	},
        	function() {
        	  ids.closest('tr').remove();
        	},
        	'json');
        	
        return false;
      });
      
      table.closest('form').on({
        'ajax:success': function(xhr, data) {
          var html = JST['templates/recipient_item']({ recipient: data });
          table.find('tbody').prepend( html );
        },
        'ajax:error': function(event, xhr, status) {
          var main = $('#main'),
              html = JST['templates/errors']({ errors: $.parseJSON(xhr.responseText) });
              
          main.find('.error').remove();
          main.prepend(html);
        }
      });
    });