%h2
  רשימת נמענים
= form_tag(:url => { :action => :recipients }, :method => :get) do
  %fieldset
    .field
      = label_tag(:city_id, 'בחירת עיר\\ראשות מקומית')
      -# f.collection_select(:city_id, City.all, :id, :name, :prompt => "בחר עיר")
      = collection_select(:none, :city_id, City.find(227).to_a, :id, :name)
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        %th.span1
          = check_box_tag(:select_all)
        %th.span8
          כתובת מייל
        %th
          סוג
    %tbody
      - @recipients.each do |recipient|
        %tr
          %td.span1= check_box_tag("select_#{recipient.id}", recipient.id)
          %td.span8= recipient.email
          %td= ComplaintRecipient::RecipientTypes::Types[recipient.recipient_type]
    %tfoot
      %tr
        %th{ :colspan => 3 }
          %a#add-recipient.btn.btn-primary{ :href => '#' }
            הוספה
          = link_to('מחיקה', admin_recipients_path, :method => 'delete', :confirm => 'האם אתה בטוח שברצונך למחוק את הנמענים המסומנים?', :class => 'btn delete-recipients')
- content_for(:scripts) do
  :javascript
    $(function() {
      var table = $('table');
      
      $('#select_all').on('change', function() {
        table.find('input:checkbox').prop('checked', this.checked);
      });
      
      $('#city_id').on('change', function() {
        // Update table.
      });
      
      table.find('.delete-recipients').on('click', function() {
      	var self = $(this),
      	    ids = table.find('input:checkbox:checked:not(#select_all)').map(function() { return this.value; }).get();
        $.post(this.href, { 
        	  '_method': self.data('method'),
        	  id: ids
        	},
        	function() {
        	  alert('success');
        	},
        	'json');
        	
        return false;
      });
    });
