<tr>
	<td class="span1">
		<input type="checkbox" name="recipients[]" value="<%= recipient.id %> id="recipients_<%= recipient.id %>" />
	</td>
	<td class="span4">
		<%= recipient.description %>
	</td>
	<td class="span4">
		<%= recipient.email %>
	</td>
	<td>
		<%= recipient.recipient_type_name %>
	</td>
</tr>