%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th
        עיריה\רשות מקומית
      %th
        שם העסק
      %th
        סוג
      %th
        שם מתלונן
      %th
        כתובת מייל
      %th
        טלפון
      %th
        ת.ז.
      %th
        תאריך
      %th
      %th
  %tbody
    - @complaints.each do |complaint|
      %tr
        %td= complaint.city.name
        %td= complaint.business_name
        %td= complaint.business_type.name
        %td= complaint.statement_full_name
        %td= mail_to(complaint.statement_email) if complaint.statement_email
        %td= complaint.statement_phone
        %td= complaint.statement_id || '[נמחק]'
        %td= complaint.created_at.strftime("%d/%m/%Y")
        %td= link_to('צפייה', complaint_path(complaint))
        %td= link_to('pdf', complaint_path(complaint, :format => :pdf))
= will_paginate(@complaints, :next_label => 'הבא &raquo;', :previous_label => '&laquo; הקודם')
