-# coding: UTF-8
!!! 5
/[if lt IE 7] <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7]    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en">
/[if IE 8]    <html class="no-js lt-ie10 lt-ie9" lang="en">
/[if IE 9]    <html class="no-js lt-ie10" lang="en">
<!--[if gt IE 9]><!-->
%html.no-js{:lang => "he"}
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
      = t('layout.title')
    %meta{:content => t('layout.description'), :name => "description"}
    %meta{:content => t('layout.author'), :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      %header
        %hgroup
          = link_to(image_tag('avirnaki.png', :alt => t('layout.author')), 'http://www.avir-naki.com', :class => 'avirnaki')
          %h1#title
            %a{ :href => "/" }
              = t('layout.clear_air')
          %h2
            = t('layout.explain')
      #main{:role => "main"}
        = yield
      #container-footer
    %footer
      %ul
        %li
          = link_to(t('layout.web_site'), 'http://www.avir-naki.com')
        %li.sep
          |
        %li
          = link_to(t('facebook'), 'http://www.facebook.com/Amutat.Avir.Naki')
    / ! end of #container
    = content_for(:scripts)
    :javascript
      window._gaq = [['_setAccount','UA-27890828-1'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
